# Xcode
DerivedData/
*.xcworkspace/
*.xcuserstate
*.xcuserdatad/
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# SwiftPM
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# XcodeGen generated project
Ba6Ai.xcodeproj

# Logs
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride
