body {
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

.ink-glow {
  box-shadow: 0 0 40px -10px rgba(255, 255, 255, 0.1);
}
